@model DotNetSchool.Models.Student

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir o registro abaixo?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardianContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardianContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Excluir" class="btn btn-danger mt-3">
            <i class="bi bi-trash-fill"></i>
        </button>
        <a class="btn btn-secondary mt-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Voltar" asp-action="Index"><i class="bi bi-arrow-counterclockwise"></i></a>
    </form>
</div>
